.vocab-card {
	display: flex;
	flex-direction: row;
}

.vocab-text {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*padding-left: 1em !important;
	padding-right: 1em !important;*/
}

.vocab-text-captain {
	color: inherit !important;
	text-transform: none !important;
}

.vocab-text-table * {
	border: none !important;
	text-align: center;
}

.vocab-text-table td {
	padding: 0.2em 0.2em 0.2em 0.2em !important;
}

.vocab-text-phrase {
	color: inherit !important;
	text-transform: none !important;
	font-weight: bold !important;
}

.vocab-text-pinyin {
	color: inherit !important;
	text-transform: none !important;
	font-weight: normal !important;
}

.vocab-image {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*padding-left: 1em !important;
	padding-right: 1em !important;*/
}

.vocab-image img {
	width: 80%;
	height: auto;
	border: none !important;
}
